*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
}

  
body{
   
    background-color: #F5F2EB;

}

main {
    margin-top: 200px; /* Ajuste conforme a altura do cabeçalho e da logo */
}

html {
    scroll-padding-top: 200px; /* Ajuste conforme a altura do cabeçalho */
}


.logo-img {
    height: auto; /* Mantém a proporção */
    display: block; /* Garante que as margens funcionem corretamente */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 220px; /* Ajuste conforme necessário */
    background-color: #F5F2EB; /* Mantém a aparência */
    width: 100%;
}

header {
    position: fixed;
    top: 0px; /* Ajuste para não colidir com a logo */
    left: 0;
    width: 100%;
    background-color: #F5F2EB;
    z-index: 1000; /* Garante que fique acima do conteúdo */
    padding: 8px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Pequeno sombreamento para destaque */
}


header a{
    color: #8B3A3A;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: .4s;
}

header a:hover{
    color: #5f1010;
    transform: scale(1.1);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{   
    display: inline-block;
    padding: 0 40px;
}

.txt-infos{
    color: #8B3A3A;
    font-size: 60px;
}

.txt-inicio{
    font-size: 20px;
    color: #8B3A3A;
}

.frase{
    font-size: 25px;
    color: #8B3A3A;
}

img{
    height: 450px;
    width: 320px;
    border-radius: 10px;
    margin-right: 100px;
}

.txt-sobre-mim{
    margin-left: 100px; /* Espaço à direita */
    margin-right: 10px; /* Espaço à direita */
    text-align: justify;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.btn-contato-vinho{
    padding: 18px 70px;          /* Ajuste o tamanho aqui */
  border: none;                /* Remove a borda */
  border-radius: 8px;
  background: #8B3A3A;
  color: white;
  font-size: 16px;             /* Ajuste o tamanho da fonte aqui */
  letter-spacing: .08em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.25;
  user-select: none;
  position: relative;
  overflow: hidden;
  transition: background-color .6s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      top: var(--mouse-y);
      left: var(--mouse-x);
      transform-style: flat;
      transform: translate3d(-50%,-50%,0);
      background: rgba(white,.1);
      border-radius: 100%;
      transition: width .3s ease, height .3s ease;
    }
    &:focus,
    &:hover {
        background: #5f1010;
    }
    &:active {
      &:after {
        width: 300px;
        height: 600px;
      }
    }
  }


.btn-contato-vinho:hover{
    color: #ffffff;
    background-color:#701010;
}

.btn-contato-branco{
    padding: 18px 70px;          /* Ajuste o tamanho aqui */
  border: none;                /* Remove a borda */
  border-radius: 8px;
  background: #F5F2EB;
  color: #8B3A3A;
  font-size: 16px;             /* Ajuste o tamanho da fonte aqui */
  letter-spacing: .08em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.25;
  user-select: none;
  position: relative;
  overflow: hidden;
  transition: background-color .6s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      
      transform-style: flat;
      transform: translate3d(-50%,-50%,0);
      background: rgba(white,.1);
      border-radius: 100%;
      transition: width .3s ease, height .3s ease;
    }
    &:focus,
    &:hover {
        background: #b0aeaa;;
    }
    &:active {
      &:after {
        width: 300px;
        height: 300px;
      }
    }
  }

.btn-contato-branco:hover{
    color: #8B3A3A;
    background-color:#ffdede;
}


.txt-abordagem{
    font-size: 20px;
    color: #8B3A3A;
    margin-right: 100px;
    margin-left: 100px;
}

.txt-paraquem{
    margin-left: 100px; /* Espaço à direita */
    margin-right: 100px; /* Espaço à direita */
    text-align: justify;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 20px;
}

.txt-experiencia{
    font-size: 20px;
    color: #8B3A3A;
    margin-left: 120px; /* Espaço à direita */
    margin-right: 100px; /* Espaço à direita */
}

.frase2{
    font-size: 22px;
    margin-left: 100px; /* Espaço à direita */
    margin-right: 100px; /* Espaço à direita */
}

.txt-servicos{
    margin-left: 100px; /* Espaço à direita */
    margin-right: 100px; /* Espaço à direita */
    text-align: justify;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 20px;
}

.faq{
    color: #8B3A3A;
    margin-left: 100px; /* Espaço à direita */
    margin-right: 100px;
}

.faq-box {
  background-color: #8B3A3A;
  color: #F5F2EB;
  cursor: pointer;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  border: 20px solid #ddd;
  border-radius: 20px;
}

/* Efeito suave no hover */
.faq-box:hover {
  background-color: #8B3A3A;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

/* Resposta escondida inicialmente, mas com transição suave */
.faq-resposta {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.7s ease, opacity 0.2s ease;
}

/* Quando ativa */
.faq-box.active .faq-resposta {
  max-height: 500px; /* valor alto o suficiente para mostrar o conteúdo */
  opacity: 1;
}

/* Setinha com rotação suave */
.arrow {
  font-size: 1.25rem;
  transition: transform 0.7s ease;
}

/* Rotaciona a seta */
.faq-box.active .arrow {
  transform: rotate(180deg);
}



.txt-contato{
    text-align: justify;
    color: white;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 20px;
}


.contato a {
    font-size: 20px; /* Tamanho da fonte */
    color: #ffffff; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    transition: color 0.3s ease-in-out; /* Suaviza a mudança de cor */
}

.contato a:hover {
    color: #F5F2EB;;
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}



.bg-sobre {
  background-color: #8B3A3A; /* cor suave */
}

.bg-paraquem {
  background-color: #8B3A3A;/* cor diferente para contraste */
}

.bg-servicos {
  background-color: #8B3A3A;/* cor diferente para contraste */
}

.bg-contato {
  background-color: #8B3A3A; /* outro tom suave */
}


@media screen and (max-width: 767px) { /*Celulares*/
    .flex{
        flex-direction: column;
    }

    .menu-desktop{
        display: none;
    }
     
    section{
        margin-left: 1px; /* Espaço à direita */
        margin-right: 50px; /* Espaço à direita */
        text-align: justify;
    }

    .logo-img {
        width: 80%; /* opcional: redimensiona para telas menores */
        max-width: 100%;
        margin-right: 52px; /* Espaço à direita */
    }

    .imagem-gabriel img {
        width: 100%; /* opcional: redimensiona para telas menores */
        max-width: 100%;
    }

    .btn-contato{
        display: block;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
    }
    
    section .contatos{
        margin-left: auto;
        margin-right: auto;
    }

    header {
        top: -6px; /* Ajuste para não colidir com a logo */
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) { /*Tablets*/
    .flex{
        flex-direction: column;
    }

    header {
        top: -6px; /* Ajuste para não colidir com a logo */
    }


    .logo-img {
        max-width: 45%;
    }
    
    header a{
        font-size: 22px;
    }

    section{
        margin-left: 80px; /* Espaço à direita */
        margin-right: 100px; /* Espaço à direita */
        text-align: justify;
    }
    
    section#sobre-mim{
        margin-left: 30px; /* Espaço à direita */
        margin-right: 50px; /* Espaço à direita */
        text-align: justify;
        padding: 60px;
    }

    section#psicanalise{
        padding: 40px;
    }

    img{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }

      .btn-contato{
        display: block;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
    }
    
    section .contatos{
        margin-left: auto;
        margin-right: auto;
    }

    section p{
        font-size: 25px;
    }

    .contato a {
        font-size: 25px; /* Tamanho da fonte */
    }
  }